n8n-ai-os-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/webhook",
        "options": {}
      },
      "id": "2ecec4c8-e6ea-4934-a5f9-d08b6b751c12",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1824,
        3824
      ],
      "webhookId": "whatsapp-webhook-uuid"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $json.body?.sender?.attendee_provider_id || $json.body?.sender?.attendee_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body?.message }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.body?.sender?.attendee_name || 'Customer' }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.body?.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c6f12c9-2f33-4dc9-b493-2bbf558e5c43",
      "name": "Parse Incoming Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2048,
        3824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"llama-3.3-70b-versatile\", \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"You are the Master Router Agent for Seeroo Travels. Classify the user's travel intent. Respond ONLY in JSON. Intents: 'umrah', 'hajj', 'visa', 'tours', 'flights', 'hotels', 'status_check', 'complaint', 'payment', 'general_faq'. Schema: {\\\"intent\\\": \\\"string\\\",\\\"confidence\\\": float}\"}, {\"role\": \"user\", \"content\": {{ JSON.stringify($('Parse Incoming Details').item.json.message) }} }]}",
        "options": {}
      },
      "id": "482c2c05-a670-48bb-be69-e69f360251d2",
      "name": "LLM Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3216,
        4096
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $('LLM Intent Classifier').item.json.choices[0].message.content;\nconst classification = JSON.parse(responseText);\nreturn [{\n  json: {\n    phone: $('Parse Incoming Details').item.json.phone,\n    message: $('Parse Incoming Details').item.json.message,\n    senderName: $('Parse Incoming Details').item.json.senderName,\n    intent: classification.intent,\n    confidence: classification.confidence\n  }\n}];"
      },
      "id": "6bf046fb-675d-4a85-822e-39d1c27965fa",
      "name": "Parse Intent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3392,
        3872
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "umrah"
            },
            {
              "value2": "hajj"
            },
            {
              "value2": "visa"
            },
            {
              "value2": "tours"
            },
            {
              "value2": "flights"
            },
            {
              "value2": "hotels"
            },
            {
              "value2": "status_check"
            },
            {
              "value2": "complaint"
            },
            {
              "value2": "payment"
            },
            {
              "value2": "general_faq"
            }
          ]
        },
        "fallbackOutput": 9
      },
      "id": "752a74c4-234b-47d4-89ab-ece2fbf33766",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3616,
        3840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $('Parse Intent Response').item.json.phone }}"
            },
            {
              "name": "text",
              "value": "\ud83d\udcb3 *Payment Instructions:* \nBank Transfer:\nAl-Baraka Bank Pakistan\nAccount Title: Seeroo Travels\nIBAN: PK21ABPA000288392182\n\nEasyPaisa/JazzCash:\nPhone: 0300-1234567\n\nAfter making the payment, please reply by sending the *screenshot/receipt proof* here."
            }
          ]
        },
        "options": {}
      },
      "id": "30387043-0b81-4854-8deb-c45b66b0a28f",
      "name": "Payment Details Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4512,
        4944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api50.unipile.com:18030/api/v1/chats/{{ $json.chatId || $('Parse Incoming Details').item.json.chatId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "6i+2zg84.W2iHyl4Pe3T/fREjswsxToHsmCwNJICvweJmod1HJUs="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text || $json.next_question || JSON.parse($json.choices[0].message.content).next_question || JSON.parse($json.choices[0].message.content).answer_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd75e677-f3ad-49d3-96c3-34065e8e15f2",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4736,
        4512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334942982,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit#gid=1334942982"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "SenderPhone",
              "lookupValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8803141-41d7-44e0-8717-7d548c55c302",
      "name": "Lookup Customer Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2272,
        3824
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.BotActive }}",
              "value2": "FALSE"
            }
          ]
        }
      },
      "id": "12580962-e202-47a2-bef2-c77376f024dc",
      "name": "Is Bot Paused?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2496,
        3824
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.ActiveAgent || 'None' }}",
        "rules": {
          "rules": [
            {
              "value2": "Umrah"
            },
            {
              "value2": "Hajj",
              "output": 1
            },
            {
              "value2": "Visa",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "075758c9-ebcb-406b-9fff-f1a6a6fb7997",
      "name": "Route by Session State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2720,
        3792
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.ActiveAgent || 'None' }}",
        "rules": {
          "rules": [
            {
              "value2": "Tours"
            },
            {
              "value2": "Flights",
              "output": 1
            },
            {
              "value2": "Hotels",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4dcd1755-bcb5-4354-8980-efb2d122fdd6",
      "name": "Route by Session State1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2944,
        3984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Qualified"
            }
          ]
        }
      },
      "id": "9293f9dd-382e-4752-9050-2ae372455803",
      "name": "Is Lead Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4288,
        3632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api50.unipile.com:18030/api/v1/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "6i+2zg84.W2iHyl4Pe3T/fREjswsxToHsmCwNJICvweJmod1HJUs="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "ZSQDa63MRHaGw4f33KrMSg"
            },
            {
              "name": "attendees_ids",
              "value": "={{ [$env.SALES_GROUP_CHAT_ID || 'SALES_GROUP_PHONE'] }}"
            },
            {
              "name": "text",
              "value": "=\ud83d\udea8 *New Qualified Lead Alert* \ud83d\udea8\n\n\ud83d\udc64 Name: {{ $json.SenderName }}\n\ud83d\udcf1 Phone: {{ $json.SenderPhone }}\n\u2708\ufe0f Service: {{ $json.ServiceType }}\n\ud83c\udf06 Departure City: {{ $json.DepartureCity }}\n\ud83d\udcb5 Budget: {{ $json.Budget }}\n\ud83d\udc65 Passengers: {{ $json.Persons }}\n\nPlease contact the client immediately."
            }
          ]
        },
        "options": {}
      },
      "id": "f83a6edd-5cbd-45e8-b809-25c65eaec148",
      "name": "Sales Group WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4512,
        3568
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "groq-model-id",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4000,
        2800
      ],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API Connection"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $('Parse Incoming Details').item.json.phone }}",
        "contextKey": "chat_history",
        "memoryKey": "chat_history"
      },
      "id": "window-memory-id",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        4200,
        2800
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Zain, a warm senior travel consultant at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Month of travel, 2) Number of persons, 3) Departure city, 4) Budget. Ask one detail at a time with empathy. Active Packages: 1) Premium Gold: 350,000 PKR, 15 Days (5-Star Hotels in Makkah/Madinah, private luxury transport), 2) Economy Silver: 260,000 PKR, 15 Days (3-Star Hotels, shared shuttle transport). Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Umrah\", \"data\": {\"month\": \"string/null\", \"persons\": number/null, \"city\": \"string/null\", \"budget\": \"string/null\"}}."
        }
      },
      "id": "umrah-agent-id",
      "name": "Umrah AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3100
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Farhan, a dedicated Hajj Coordinator at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Scheme Type (Government or Private), 2) Number of passengers, 3) Budget. Keep a respectful and spiritual tone. Active Packages: 1) Government Hajj Scheme: ~1,200,000 PKR, 2) Private Hajj Scheme: ~1,800,000 PKR. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Hajj\", \"data\": {\"scheme\": \"string/null\", \"persons\": number/null, \"budget\": \"string/null\"}}."
        }
      },
      "id": "hajj-agent-id",
      "name": "Hajj AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Aisha, a Visa Consultant at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Purpose of visa, 2) Passport country, 3) Planned travel date. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Visa\", \"data\": {\"purpose\": \"string/null\", \"passport_country\": \"string/null\", \"travel_date\": \"string/null\"}}."
        }
      },
      "id": "visa-agent-id",
      "name": "Visa AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3500
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Bilal, an International Tours Planner at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Destination, 2) Traveler type (family/couple/solo), 3) Duration of stay, 4) Budget. Active Packages: 1) Thailand Escape Tour: 180,000 PKR, 7 Days (Bangkok & Phuket hotels + sightseeing). Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Tours\", \"data\": {\"destination\": \"string/null\", \"traveler_type\": \"string/null\", \"duration_days\": number/null, \"budget\": \"string/null\"}}."
        }
      },
      "id": "tours-agent-id",
      "name": "Tours AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3700
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Saad, a Flight Booking Agent at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Departure city, 2) Destination, 3) Travel dates, 4) Number of passengers. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Flights\", \"data\": {\"departure\": \"string/null\", \"destination\": \"string/null\", \"dates\": \"string/null\", \"passengers\": number/null}}."
        }
      },
      "id": "flights-agent-id",
      "name": "Flights AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3100
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Hamza, a Hotel Coordinator at Seeroo Travels. Speak Roman Urdu and English. Guide the user and qualify: 1) Check-in/Check-out dates, 2) Number of guests, 3) Distance from Haram (Makkah/Madinah), 4) Budget. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": boolean, \"activeAgent\": \"Hotels\", \"data\": {\"check_in\": \"string/null\", \"check_out\": \"string/null\", \"guests\": number/null, \"haram_distance\": \"string/null\", \"budget\": \"string/null\"}}."
        }
      },
      "id": "hotels-agent-id",
      "name": "Hotels AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Hassan, the general customer service assistant at Seeroo Travels. Speak Roman Urdu and English. Answer the user's general questions about rules, timings, documents, or travel advice. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": false, \"activeAgent\": \"FAQ\", \"data\": {}}."
        }
      },
      "id": "faq-agent-id",
      "name": "RAG FAQ Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3500
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Zainab, a Support Executive at Seeroo Travels. Speak Roman Urdu and English. Listen to the user's issue with empathy, apologize for the inconvenience, and qualify: 1) Complaint Category (Hotel/Transport/Guide/Visa/Other), 2) Issue Description. Tell them a ticket is created. Respond ONLY in JSON matching this schema: {\"response\": \"string\", \"complete\": true, \"activeAgent\": \"Complaint\", \"data\": {\"category\": \"string/null\", \"description\": \"string/null\"}}."
        }
      },
      "id": "complaint-agent-id",
      "name": "Complaint & Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON string emitted by the AI Agent node\nconst rawText = $json.output || $json.text || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  // Regex to extract JSON block in case LLM wrapped it in conversational text\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (innerE) {\n      parsed = { response: rawText, complete: false, activeAgent: 'FAQ', data: {} };\n    }\n  } else {\n    parsed = { response: rawText, complete: false, activeAgent: 'FAQ', data: {} };\n  }\n}\n\n// Ensure default structure\nparsed.response = parsed.response || rawText;\nparsed.complete = !!parsed.complete;\nparsed.activeAgent = parsed.activeAgent || 'FAQ';\nparsed.data = parsed.data || {};\n\nreturn [{\n  json: {\n    phone: $('Parse Incoming Details').item.json.phone,\n    senderName: $('Parse Incoming Details').item.json.senderName,\n    text: parsed.response,\n    complete: parsed.complete,\n    activeAgent: parsed.activeAgent,\n    data: parsed.data\n  }\n}];"
      },
      "id": "parse-agent-response-id",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5100,
        3400
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334942982,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit#gid=1334942982"
        },
        "keyRow": "SenderPhone",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SenderPhone": "={{ $json.phone }}",
            "SenderName": "={{ $json.senderName }}",
            "Status": "={{ $json.complete ? 'Qualified' : 'Qualifying' }}",
            "ServiceType": "={{ $json.activeAgent }}",
            "Month": "={{ $json.data.month || undefined }}",
            "Persons": "={{ $json.data.persons || undefined }}",
            "DepartureCity": "={{ $json.data.city || undefined }}",
            "Budget": "={{ $json.data.budget || undefined }}",
            "VisaPurpose": "={{ $json.data.purpose || undefined }}",
            "TravelDates": "={{ $json.data.dates || $json.data.travel_date || undefined }}",
            "SchemeType": "={{ $json.data.scheme || undefined }}",
            "ActiveAgent": "={{ $json.activeAgent }}",
            "BotActive": "={{ $json.activeAgent === 'Complaint' ? 'FALSE' : 'TRUE' }}",
            "CreatedTime": "={{ $('Lookup Customer Session').item.json.CreatedTime || new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "save-lead-to-sheets-id",
      "name": "Save Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        5350,
        3400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.activeAgent }}",
              "value2": "Complaint"
            }
          ]
        }
      },
      "id": "check-if-complaint-id",
      "name": "Check If Complaint",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5600,
        3400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "SupportTickets",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TicketID": "={{ 'TCK-' + Math.floor(1000 + Math.random() * 9000) }}",
            "Phone": "={{ $json.phone }}",
            "Category": "={{ $json.data.category || 'Other' }}",
            "Description": "={{ $json.data.description || 'No description provided' }}",
            "Status": "Open",
            "AssignedAgent": "Zainab",
            "CreatedTime": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "create-support-ticket-id",
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        5850,
        3200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming Details": {
      "main": [
        [
          {
            "node": "Lookup Customer Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Customer Session": {
      "main": [
        [
          {
            "node": "Is Bot Paused?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Paused?": {
      "main": [
        [],
        [
          {
            "node": "Route by Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session State": {
      "main": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hajj AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visa AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Session State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session State1": {
      "main": [
        [
          {
            "node": "Tours AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flights AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hotels AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hajj AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visa AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tours AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flights AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hotels AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG FAQ Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complaint & Support Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Details Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG FAQ Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Details Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Umrah AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hajj AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visa AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tours AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flights AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotels AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG FAQ Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint & Support Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Save Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Sheets": {
      "main": [
        [
          {
            "node": "Check If Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Complaint": {
      "main": [
        [
          {
            "node": "Create Support Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Lead Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Support Ticket": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Qualified?": {
      "main": [
        [
          {
            "node": "Sales Group WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Group WhatsApp Alert": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0ab31978613681a4aa1ac949433cd82b78aba6d4dcd353fa504760087d3d840"
  }
}