n8n-ai-os-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/webhook",
        "options": {}
      },
      "id": "2ecec4c8-e6ea-4934-a5f9-d08b6b751c12",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1824,
        3824
      ],
      "webhookId": "whatsapp-webhook-uuid"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $json.body?.sender?.attendee_provider_id || $json.body?.sender?.attendee_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body?.message }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.body?.sender?.attendee_name || 'Customer' }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.body?.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c6f12c9-2f33-4dc9-b493-2bbf558e5c43",
      "name": "Parse Incoming Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2048,
        3824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"llama-3.3-70b-versatile\", \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"You are the Master Router Agent for Seeroo Travels. Classify the user's travel intent. Respond ONLY in JSON. Intents: 'umrah', 'hajj', 'visa', 'tours', 'flights', 'hotels', 'status_check', 'complaint', 'payment', 'general_faq'. Schema: {\\\"intent\\\": \\\"string\\\",\\\"confidence\\\": float}\"}, {\"role\": \"user\", \"content\": {{ JSON.stringify($('Parse Incoming Details').item.json.message) }} }]}",
        "options": {}
      },
      "id": "482c2c05-a670-48bb-be69-e69f360251d2",
      "name": "LLM Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3216,
        4096
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $('LLM Intent Classifier').item.json.choices[0].message.content;\nconst classification = JSON.parse(responseText);\nreturn [{\n  json: {\n    phone: $('Parse Incoming Details').item.json.phone,\n    message: $('Parse Incoming Details').item.json.message,\n    senderName: $('Parse Incoming Details').item.json.senderName,\n    intent: classification.intent,\n    confidence: classification.confidence\n  }\n}];"
      },
      "id": "6bf046fb-675d-4a85-822e-39d1c27965fa",
      "name": "Parse Intent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3392,
        3872
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "umrah"
            },
            {
              "value2": "hajj"
            },
            {
              "value2": "visa"
            },
            {
              "value2": "tours"
            },
            {
              "value2": "flights"
            },
            {
              "value2": "hotels"
            },
            {
              "value2": "status_check"
            },
            {
              "value2": "complaint"
            },
            {
              "value2": "payment"
            },
            {
              "value2": "general_faq"
            }
          ]
        },
        "fallbackOutput": 9
      },
      "id": "752a74c4-234b-47d4-89ab-ece2fbf33766",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3616,
        3840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $('Parse Intent Response').item.json.phone }}"
            },
            {
              "name": "text",
              "value": "\ud83d\udcb3 *Payment Instructions:* \nBank Transfer:\nAl-Baraka Bank Pakistan\nAccount Title: Seeroo Travels\nIBAN: PK21ABPA000288392182\n\nEasyPaisa/JazzCash:\nPhone: 0300-1234567\n\nAfter making the payment, please reply by sending the *screenshot/receipt proof* here."
            }
          ]
        },
        "options": {}
      },
      "id": "30387043-0b81-4854-8deb-c45b66b0a28f",
      "name": "Payment Details Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4512,
        4944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api50.unipile.com:18030/api/v1/chats/{{ $json.chatId || $('Parse Incoming Details').item.json.chatId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "6i+2zg84.W2iHyl4Pe3T/fREjswsxToHsmCwNJICvweJmod1HJUs="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text || $json.next_question || JSON.parse($json.choices[0].message.content).next_question || JSON.parse($json.choices[0].message.content).answer_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd75e677-f3ad-49d3-96c3-34065e8e15f2",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4736,
        4512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334942982,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY/edit#gid=1334942982"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "SenderPhone",
              "lookupValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8803141-41d7-44e0-8717-7d548c55c302",
      "name": "Lookup Customer Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2272,
        3824
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.BotActive }}",
              "value2": "FALSE"
            }
          ]
        }
      },
      "id": "12580962-e202-47a2-bef2-c77376f024dc",
      "name": "Is Bot Paused?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2496,
        3824
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.ActiveAgent || 'None' }}",
        "rules": {
          "rules": [
            {
              "value2": "Umrah"
            },
            {
              "value2": "Hajj",
              "output": 1
            },
            {
              "value2": "Visa",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "075758c9-ebcb-406b-9fff-f1a6a6fb7997",
      "name": "Route by Session State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2720,
        3792
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.ActiveAgent || 'None' }}",
        "rules": {
          "rules": [
            {
              "value2": "Tours"
            },
            {
              "value2": "Flights",
              "output": 1
            },
            {
              "value2": "Hotels",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4dcd1755-bcb5-4354-8980-efb2d122fdd6",
      "name": "Route by Session State1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2944,
        3984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "value2": "Qualified"
            }
          ]
        }
      },
      "id": "9293f9dd-382e-4752-9050-2ae372455803",
      "name": "Is Lead Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4288,
        3632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api50.unipile.com:18030/api/v1/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "6i+2zg84.W2iHyl4Pe3T/fREjswsxToHsmCwNJICvweJmod1HJUs="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "ZSQDa63MRHaGw4f33KrMSg"
            },
            {
              "name": "attendees_ids",
              "value": "={{ [$env.SALES_GROUP_CHAT_ID || 'SALES_GROUP_PHONE'] }}"
            },
            {
              "name": "text",
              "value": "=\ud83d\udea8 *New Qualified Lead Alert* \ud83d\udea8\n\n\ud83d\udc64 Name: {{ $json.SenderName }}\n\ud83d\udcf1 Phone: {{ $json.SenderPhone }}\n\u2708\ufe0f Service: {{ $json.ServiceType }}\n\ud83c\udf06 Departure City: {{ $json.DepartureCity }}\n\ud83d\udcb5 Budget: {{ $json.Budget }}\n\ud83d\udc65 Passengers: {{ $json.Persons }}\n\nPlease contact the client immediately."
            }
          ]
        },
        "options": {}
      },
      "id": "f83a6edd-5cbd-45e8-b809-25c65eaec148",
      "name": "Sales Group WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4512,
        3568
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "groq-model-id",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4000,
        2800
      ],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API Connection"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $('Parse Incoming Details').item.json.phone }}",
        "contextKey": "chat_history",
        "memoryKey": "chat_history"
      },
      "id": "window-memory-id",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        4200,
        2800
      ]
    },
    {
      "parameters": {
        "name": "manage_crm_lead",
        "description": "Use this tool to get existing lead details or save/update lead details (Month, Persons, DepartureCity, Budget, ServiceType, Status, ActiveAgent, BotActive) in the Leads sheet.",
        "jsCode": "const spreadsheetId = '1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY';\nconst phone = args.phone || $('Parse Incoming Details').item.json.phone;\nconst action = args.action; // 'get' or 'update'\n\nif (action === 'get') {\n  const res = await this.helpers.request({\n    method: 'GET',\n    url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!A:R`,\n    useAuth: true\n  });\n  const rows = res.values || [];\n  const headers = rows[0] || [];\n  const phoneIndex = headers.indexOf('SenderPhone');\n  const matchedRow = rows.find(r => r[phoneIndex] === phone);\n  if (!matchedRow) {\n    return { found: false, message: \"No existing lead found for this phone number.\" };\n  }\n  const lead = {};\n  headers.forEach((h, i) => {\n    lead[h] = matchedRow[i] || null;\n  });\n  return { found: true, lead };\n} else if (action === 'update') {\n  const data = args.data || {};\n  const res = await this.helpers.request({\n    method: 'GET',\n    url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!A:R`,\n    useAuth: true\n  });\n  const rows = res.values || [];\n  const headers = rows[0] || [];\n  const phoneIndex = headers.indexOf('SenderPhone');\n  const matchedRowIndex = rows.findIndex(r => r[phoneIndex] === phone);\n\n  if (matchedRowIndex === -1) {\n    const newRow = headers.map(h => {\n      if (h === 'SenderPhone') return phone;\n      if (h === 'CreatedTime') return new Date().toISOString();\n      return data[h] || '';\n    });\n    await this.helpers.request({\n      method: 'POST',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!A1:append?valueInputOption=USER_ENTERED`,\n      body: { values: [newRow] },\n      useAuth: true\n    });\n    return { success: true, action: 'created', message: 'New lead row added successfully.' };\n  } else {\n    const rowNum = matchedRowIndex + 1;\n    const existingRow = rows[matchedRowIndex];\n    const updatedRow = headers.map((h, i) => {\n      if (h === 'SenderPhone') return phone;\n      if (data[h] !== undefined) return data[h];\n      return existingRow[i] || '';\n    });\n    await this.helpers.request({\n      method: 'PUT',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!A${rowNum}:R${rowNum}?valueInputOption=USER_ENTERED`,\n      body: { values: [updatedRow] },\n      useAuth: true\n    });\n    return { success: true, action: 'updated', message: `Lead row ${rowNum} updated successfully.` };\n  }\n}"
      },
      "id": "crm-tool-id",
      "name": "CRM Lead Manager Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCustom",
      "typeVersion": 1,
      "position": [
        4400,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "name": "query_travel_packages",
        "description": "Use this tool to search active packages (Umrah, Hajj, or International) in the Packages sheet of Google Sheets. You can filter by category (Umrah, Hajj, International).",
        "jsCode": "const spreadsheetId = '1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY';\nconst category = args.category; // 'Umrah', 'Hajj', or 'International'\n\nconst res = await this.helpers.request({\n  method: 'GET',\n  url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Packages!A:H`,\n  useAuth: true\n});\nconst rows = res.values || [];\nconst headers = rows[0] || [];\nconst categoryIndex = headers.indexOf('Category');\nconst statusIndex = headers.indexOf('Status');\n\nconst packages = [];\nfor (let i = 1; i < rows.length; i++) {\n  const row = rows[i];\n  if (row[statusIndex] !== 'Active') continue;\n  if (category && row[categoryIndex] !== category) continue;\n  \n  const pkg = {};\n  headers.forEach((h, idx) => {\n    pkg[h] = row[idx] || null;\n  });\n  packages.push(pkg);\n}\nreturn { success: true, packages };"
      },
      "id": "packages-tool-id",
      "name": "Travel Packages Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCustom",
      "typeVersion": 1,
      "position": [
        4600,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "name": "handle_complaint",
        "description": "Use this tool to log a support ticket in the SupportTickets sheet and pause the AI bot (BotActive = FALSE, ActiveAgent = Complaint) in the Leads sheet when a user has a complaint.",
        "jsCode": "const spreadsheetId = '1pfj3q2kutmk8AgqacsKzu3BA-RPwyq_XEGs82dpa4AY';\nconst phone = args.phone || $('Parse Incoming Details').item.json.phone;\nconst description = args.description;\nconst category = args.category || 'Other';\n\nconst resLeads = await this.helpers.request({\n  method: 'GET',\n  url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!A:R`,\n  useAuth: true\n});\nconst rowsLeads = resLeads.values || [];\nconst headersLeads = rowsLeads[0] || [];\nconst phoneIndex = headersLeads.indexOf('SenderPhone');\nconst matchedIndex = rowsLeads.findIndex(r => r[phoneIndex] === phone);\n\nif (matchedIndex !== -1) {\n  const rowNum = matchedIndex + 1;\n  const botActiveIndex = headersLeads.indexOf('BotActive');\n  const activeAgentIndex = headersLeads.indexOf('ActiveAgent');\n  \n  await this.helpers.request({\n    method: 'PUT',\n    url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/Leads!Q${rowNum}:R${rowNum}?valueInputOption=USER_ENTERED`,\n    body: { values: [[\"Complaint\", \"FALSE\"]] },\n    useAuth: true\n  });\n}\n\nconst ticketId = 'TCK-' + Math.floor(1000 + Math.random() * 9000);\nconst ticketRow = [ticketId, phone, category, description, 'Open', 'Unassigned', new Date().toISOString()];\n\nawait this.helpers.request({\n  method: 'POST',\n  url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/SupportTickets!A1:G1:append?valueInputOption=USER_ENTERED`,\n  body: { values: [ticketRow] },\n  useAuth: true\n});\n\nreturn { success: true, ticketId, message: \"Bot paused, support ticket created successfully.\" };"
      },
      "id": "complaint-tool-id",
      "name": "Complaint Manager Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCustom",
      "typeVersion": 1,
      "position": [
        4800,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pHgrDDWKgv0xidHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Zain, a senior Umrah consultant at Seeroo Travels. Speak Roman Urdu and English. Your goal is to guide the user warmly and qualify their details. You must ask for and collect: 1) Month of travel, 2) Number of persons, 3) Departure city, 4) Budget. Speak conversationally and ask one details at a time with empathy. Use 'manage_crm_lead' tool with action 'update' to save details as you get them. Once complete, search packages using 'query_travel_packages' tool with category 'Umrah' and present them warmly."
        }
      },
      "id": "umrah-agent-id",
      "name": "Umrah AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3100
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Farhan, a dedicated Hajj Coordinator at Seeroo Travels. Speak Roman Urdu and English. Help the user qualify Hajj details. Ask for and collect: 1) Scheme Type (Government or Private), 2) Number of passengers, 3) Budget. Keep a respectful and spiritual tone. Use the 'manage_crm_lead' tool to save progress. Present packages using 'query_travel_packages' tool with category 'Hajj'."
        }
      },
      "id": "hajj-agent-id",
      "name": "Hajj AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Aisha, a Visa Consultant at Seeroo Travels. Speak Roman Urdu and English. Guide the user through visa qualifications. Ask for and collect: 1) Purpose of visa, 2) Passport country, 3) Planned travel date. Inform them about general documentation. Save details to CRM using 'manage_crm_lead' tool."
        }
      },
      "id": "visa-agent-id",
      "name": "Visa AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3500
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Bilal, an International Tours Planner at Seeroo Travels. Speak Roman Urdu and English. Assist the user with tour queries. Qualify: 1) Destination, 2) Traveler type (family/couple/solo), 3) Duration of stay, 4) Budget. Recommend tour plans. Save details to CRM and use 'query_travel_packages' tool with category 'International' to find tour packages."
        }
      },
      "id": "tours-agent-id",
      "name": "Tours AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4300,
        3700
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Saad, a Flight Booking Agent at Seeroo Travels. Speak Roman Urdu and English. Qualify: 1) Departure city, 2) Destination, 3) Travel dates, 4) Number of passengers. Search flight availability parameters and save details using 'manage_crm_lead' tool."
        }
      },
      "id": "flights-agent-id",
      "name": "Flights AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3100
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Hamza, a Hotel Coordinator at Seeroo Travels. Speak Roman Urdu and English. Help qualify hotel requirements: 1) Check-in/Check-out dates, 2) Number of guests, 3) Distance from Haram (Makkah/Madinah), 4) Budget. Save details to CRM."
        }
      },
      "id": "hotels-agent-id",
      "name": "Hotels AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Hassan, the general customer service assistant at Seeroo Travels. Answer the user's general questions about rules, timings, documents, or travel advice. Keep your tone polite and informative. If they ask about package availability, guide them to specify a service."
        }
      },
      "id": "faq-agent-id",
      "name": "RAG FAQ Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3500
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Zainab, a Support Executive at Seeroo Travels. Speak Roman Urdu/English. Listen to the user's issue with empathy, apologize for the inconvenience, and log the ticket using the 'handle_complaint' tool. Inform them that the bot is paused and a human agent will contact them immediately."
        }
      },
      "id": "complaint-agent-id",
      "name": "Complaint & Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        4700,
        3700
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming Details": {
      "main": [
        [
          {
            "node": "Lookup Customer Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hajj AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visa AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tours AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Details Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Customer Session": {
      "main": [
        [
          {
            "node": "Is Bot Paused?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Paused?": {
      "main": [
        [],
        [
          {
            "node": "Route by Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session State": {
      "main": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hajj AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visa AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Session State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session State1": {
      "main": [
        [
          {
            "node": "Tours AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flights AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hotels AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead Qualified?": {
      "main": [
        [
          {
            "node": "Sales Group WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Group WhatsApp Alert": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CRM Lead Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Travel Packages Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Complaint Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Umrah AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hajj AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Visa AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Tours AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Flights AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hotels AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG FAQ Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Complaint & Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Umrah AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hajj AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visa AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tours AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flights AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotels AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG FAQ Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint & Support Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0ab31978613681a4aa1ac949433cd82b78aba6d4dcd353fa504760087d3d840"
  }
}